 h3 {
    margin: 5px 0;
}

.sliderContainer {
    position: relative;
}

.sliderContainer .slider1 {
    width: 100%;
    margin: 0;
    max-height: 540px;
    overflow: hidden;
}

.sliderContainer .slick-slide {
    color: white;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}
.sliderContainer .slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sliderContainer .slick-prev:before,
.sliderContainer .slick-next:before {
    color: black;
}

.sliderContainer .slick-dots {
    bottom: -30px;
}
.sliderContainer .progressBarContainer {
    position: absolute;
    bottom: 20px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%); 
}

.sliderContainer .progressBarContainer div {
    display: block;
    width: 40px;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    float: left;
    color: white;
}

.sliderContainer .progressBarContainer div:last-child {
    margin-right: 0;
}

.sliderContainer .progressBarContainer div span.progressBar {
        width: 100%;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.4);
        display: block;
} 

.sliderContainer .progressBarContainer div span.progressBar .inProgress {
    background-color: rgba(255, 255, 255, 1);
    width: 0%;
    height: 4px;
}
.sliderContainer .inProgress.on{
width:100% !important;
}
@media screen and (max-width: 568px) {
 .sliderContainer .slick-dots {
   opacity: 0 !important;
}   
}